﻿
<script>
    function GetBooks() {
        var input = $("#Isbns").val().match(/\S+/g);
        $.ajax({
            url: "@Url.Action("GetBooks")",
            type: "POST",
            data: { isbns: input },
            traditional: true,
            success: function (data) {
                $("#found-books").html(data);
            }});
    }
    
</script>
<div class="row">
    <div class="col-md-2">
        @Html.TextArea("Isbns", new { rows = 23, columns = 12})
        <input type="button" id="search" onclick="GetBooks()" value="Search" style="margin: 10px;" />
    </div>
    <div class="col-md-10">
        <div id="found-books"></div>
    </div>
</div>
