﻿@model IEnumerable<Saxo.Models.BookViewModel>
    @foreach (var item in Model)
    {
        <div class="book">
            <img src="@item.ImageUrl" alt="@item.Title" height="100" />
            <div>@Html.DisplayFor(m => item.Title)</div>
            <div> @Html.DisplayFor(m => item.Isbn13)</div>
        </div>
    }
